.AppIntro {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 10px; /* Add some padding for spacing between content and container edges */
    width: 70%; /* Adjust the width to make it narrower */
    margin: 15px auto;
    padding: 10px;
    max-width: 800px;
    min-height: 100vh; /* Set a minimum height of the viewport height */
    /* min-width: 100vh; */
    text-align: center; /* Center text horizontally */
}
li>h3 {
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}
h3>p {
    justify-content: center;
    font-size: 16px;
}
#incomeInitial {
    justify-content: center;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Style the buttons */
.button-container button {
    margin: 0 10px; /* Adjust the margin as needed for spacing */
}
.Questionarea{
    justify-content: center;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
.Questionarea.disclaimer {
    font-size: 15px;
    font-style: italic;
    margin: 5px;
}
.AppIntro > #titleIntro {
    text-align: center;
    margin: 0 auto;
    align-items: flex-start;
}
#MemeImage {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    display: block; /* Center the image horizontally */
    margin: 0 auto;
}
.incomeContainer, .necessitiesContainer, .personalContainer, .savingsContainer {
    background-color: #f5f5f5; /* Add a light background color */
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px; /* Add rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}
.button-container button:hover {
    background-color: #abc6e3;
}
.button-container button {
    background-color: #4383c7; /* Change button background color */
    color: #fff; /* Change text color to white */
    border: none;
    padding: 10px 20px; /* Add padding for button size */
    cursor: pointer;
    transition: background-color 0.3s ease; 
}